:root.theme-dark {
  --page-background-image: url(../images/cover-image-dark.png);
  --page-background-color: #00043a;
  --page-button-color: 255 0 112;
  --page-decor-color: #ff0070;
  --subtitle-bg-color: #ff0070;
  --page-text-main-color: #db00ff;
  --page-shadow-main-color: #ff0070;
  --article-title-main-color: #ff0070;
  --article-subtitle-main-color: #000028;
  --article-subtitle-bg-color: #ff0070;
  --article-main-text-color: #f1b2ce;
  --visiblity-of-pseudo-element: visible;
}
