:root.theme-light {
  --page-background-image: url(../images/cover-image-light.png);
  --page-background-color: #fff1f7;
  --page-button-color: #353430;
  --page-decor-color: #ff0070;
  --subtitle-bg-color: #ff8dcb;
  --page-text-main-color: #ffc2e6;
  --page-shadow-main-color: #ff8dcb;
  --article-title-main-color: #353430;
  --article-subtitle-main-color: #353430;
  --article-subtitle-bg-color: #ff8dcb;
  --article-main-text-color: #353430;
  --header-min-height: calc(100vh - 20px);
  --header-max-height: calc(100vh - 20px);
}

@media (prefers-color-scheme: light) {

  :root.theme-light,
  :root {
    --page-background-image: url(../images/cover-image-light.png);
    --page-background-color: #fff1f7;
    --page-button-color: #353430;
    --page-decor-color: #ff0070;
    --subtitle-bg-color: #ff8dcb;
    --page-text-main-color: #ffc2e6;
    --page-shadow-main-color: #ff8dcb;
    --article-title-main-color: #353430;
    --article-subtitle-main-color: #353430;
    --article-subtitle-bg-color: #ff8dcb;
    --article-main-text-color: #353430;
    --header-min-height: calc(100vh - 20px);
    --header-max-height: calc(100vh - 20px);
  }

  .header__pseudo-element {
    visibility: hidden;
  }
}