/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--page-background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: var(--page-background-color);
  padding: 10px;
  font-family: 'IBM Plex mono', monospace;
  position: relative;
}

.header {
  min-height: var(--header-min-height);
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  background-image: url(../images/top-right-deco.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 9999;
  color: var(--page-decor-color);
}

.decorated-zone::after {
  content: '';
  position: relative;
  bottom: 10px;
  width: 25px;
  height: 25px;
  background-image: url(../images/bottom-left-deco.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 9999;
  display: inline-block;
  color: var(--page-decor-color);
}

.header__pseudo-element {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 18px;
  line-height: 1.39;
  font-weight: 400;
  color: var(--page-decor-color);
  text-transform: uppercase;
  pointer-events: none;
  z-index: 10;
}

.header__pseudo-element::after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-image: url(../images/ellipse.svg);
  background-size: contain;
}

.header__theme-menu-list {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-self: end;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--page-button-color);

  font-weight: 400;
  font-size: 18px;
  padding: 1.5px 13px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--page-button-color);
}

.footer__title > h1,
.header__title > h1 {
  font-weight: 700;
  font-size: 116px;
  line-height: 0.83;
  color: var(--page-text-main-color);
}

.footer__title > h1 {
  text-shadow: 2px 2px 0 var(--page-shadow-main-color);
  line-height: 100vh;
}

.header__title > h1 {
  text-shadow: 4px 4px 0 var(--page-shadow-main-color);
}

.header__subtitle {
  background-color: var(--subtitle-bg-color);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 66px;
  line-height: 1.3;
}

.main {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.article-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  color: var(--article-title-main-color);
}

.advices-for-better-concentration,
.reasons-for-low-concentration,
.reasons-for-hard-concentration {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.artiсle-advice {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.article-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  color: var(--article-subtitle-main-color);
  background-color: var(--article-subtitle-bg-color);
}

.paragraph-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: var(--article-subtitle-main-color);
  background-color: var(--article-subtitle-bg-color);
}

.article-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: var(--article-main-text-color);
}

.pictures {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.pictures img {
  width: 100%;
}

.footer {
  position: relative;
  height: 100vh;
}
