/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--page-background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: var(--page-background-color);
  font-family: 'IBM Plex mono', monospace;
  font-size: 18px;
  position: relative;
  display: grid;
  grid-template: 1fr min-content 1fr / 1fr;
  line-height: 1.3;
  font-weight: 400;
}

.header,
.footer {
  display: grid;
  position: relative;
  margin: 0 10px;
}

.header {
  grid-template: min-content 1fr min-content / 1fr 1fr;
  margin-block-start: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}


.header__title {
  grid-area: 2 / 1 / 2 / 3;
  margin-block-start: 10px;
  text-shadow: 4px 4px 0 var(--page-shadow-main-color);
  line-height: 0.83;
  font-weight: 700;
  font-size: var(--font-size-title);
  color: var(--page-text-main-color);
  text-align: left;
}


.header__title,
.footer__title {
  justify-self: center;
  align-self: center;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  inline-size: 25px;
  block-size: 25px;
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border-block-start: 1px solid rgb(var(--page-button-color));
  border-inline-end: 1px solid rgb(var(--page-button-color));
  z-index: 9999;
  color: var(--page-decor-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inset-block-end: 20px;
  inset-inline-start: 0;
  inline-size: 25px;
  block-size: 25px;
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border-block-end: 1px solid rgb(var(--page-button-color));
  border-inline-start: 1px solid rgb(var(--page-button-color));
  z-index: 9999;
  display: inline-block;
  color: var(--page-decor-color);
}

.header__pseudo-element {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 29px;
  font-size: 18px;
  line-height: 1.6;
  color: var(--page-decor-color);
  text-transform: uppercase;
  pointer-events: none;
  z-index: 10;
  visibility: var(--visiblity-of-pseudo-element);
}

.header__pseudo-element::after {
  content: '';
  position: absolute;
  inset-inline-start: 130%;
  inset-block-start: 50%;
  transform: translateY(-50%);
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: #FF0070;
  background-size: contain;
  box-shadow: 0 0 4px 2px #FF0070;
}

.header__theme-menu {
  grid-area: 1 / 1 / 1 / 3;
}

.header__theme-menu-list {
  margin-block-start: 66px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-self: end;
  text-transform: lowercase;
}

.header__theme-menu-item {
  font-size: 18px;
}


.header__theme-menu-button {
  background-color: transparent;
  color: rgb(var(--page-button-color));
  padding: 0 13px 2px;
  cursor: pointer;
  border: 1px solid transparent;
}


.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid rgb(var(--page-button-color));
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(var(--page-button-color) / 0.4);
}

.header__theme-menu-button:focus {
  border: 1px solid transparent;
  border-bottom: 1px solid rgb(var(--page-button-color));
}

.header__subtitle {
  background-color: var(--subtitle-bg-color);
  color: var(--article-subtitle-main-color);
  font-weight: 700;
  margin-block-end: 75px;
  font-size: 18px;
  grid-area: 3 / 1 / 3 / 3;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  margin: 0 10px;
}

.article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.article-title {
  font-weight: 700;
  color: var(--article-title-main-color);
  font-size: 18px;
}

.common {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.article-subtitle {
  font-weight: 700;
  color: var(--article-subtitle-main-color);
  background-color: var(--article-subtitle-bg-color);
  font-size: 18px;
}

.paragraph-title {
  color: var(--article-subtitle-main-color);
  background-color: var(--article-subtitle-bg-color);
  font-weight: 400;
}

.article-text {
  color: var(--article-main-text-color);
  font-size: 18px;
}

.pictures {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.pictures img {
  inline-size: 100%;
}

.text-link {
  text-shadow: 2px 2px 0 var(--page-shadow-main-color);
  text-decoration: none;
}

.text-link:hover {
  text-decoration: none;
  border-bottom: 1px solid var(--article-main-text-color);
}

.text-link:focus {
  border: 1px solid var(--article-main-text-color);
  text-decoration: none;
}

.footer {
  grid-template: 1fr / 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  margin-block-start: 40px;
  display: flex;
  align-items: center;
}


.footer.decorated-zone::before {
  inset-block-start: 10px;
}

.footer > p {
  text-shadow: 2px 2px 0 var(--page-shadow-main-color);
  line-height: 0.83;
  display: inline-block;
  font-weight: 700;
  font-size: var(--font-size-title);
  color: var(--page-text-main-color);
  text-align: center;
  margin-inline-start: 4px;
}


@media (width >= 768px) {

  .header {
    margin: 0;
    margin-inline-end: 10px;
    margin-block-start: 10px;
  }

  .decorated-zone::before {
    inset-block-start: 10px;
    inset-inline-end: 10px;
  }

  .header.decorated-zone::after {
    inset-block-end: 28px;
    inset-inline-start: 20px;
  }

  .header__pseudo-element {
    inset-inline-end: 40px;
    inset-block-start: 10px;
  }

  .header__theme-menu-list {
    margin-block-start: 180px;
    margin-inline-end: 10px;
  }

  .header__theme-menu {
    grid-area: 1 / 2 / 1 / 2;
  }

  .header__title {
    justify-self: start;
    grid-area: 2 / 1 / 2 / 3;
    margin-block-start: 10px;
    margin-inline-start: 0;
  }

  .header__subtitle {
    grid-area: 3 / 2 / 3 / 2;
    margin-block-end: 192px;
    margin-inline-end: 10px;
    margin-inline-start: 5px;
  }

  .main {
    padding-block-start: 30px;
    padding-inline-end: 10px;
    gap: 80px;
  }

  .reasons-for-hard-concentration {
    grid-template: 1fr 1fr / 1fr 2fr;
    column-gap: 20px;
    margin-inline-start: 10px;
  }

  .reasons-for-hard-concentration > .article-title {
    grid-row: 1 / span 2;
  }

  .reasons-for-low-concentration {
    display: grid;
    grid-template: repeat(4, min-content) / repeat(4, 1fr);
    margin-inline-start: 10px;
  }

  .reasons-for-low-concentration > .article-title {
    grid-area: 1 / 1 / 2 / 2;
  }

  .reasons-for-low-concentration > .article {
    grid-column: 1 / 5;
  }

  .reasons-for-low-concentration > .article-text,
  .reasons-for-low-concentration > .article-subtitle {
    grid-column: 1 / 5;
  }

  .advices-for-better-concentration {
    grid-template: min-content / 1fr 2fr;
    margin-inline-start: 10px;
  }

  .advices-for-better-concentration > .article-title {
    grid-area: 1 / 1 / 8 / 1;
  }

  .pictures {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    gap: 20px;
    margin-inline-start: 10px;
    margin-block-start: 0;
  }

  .pictures > .article-subtitle {
    grid-column: 1 / 4;
  }

  .pictures img:nth-child(2) {
    grid-column: span 2;
    grid-row: 2;
  }

  .pictures img:nth-child(3) {
    grid-column: 3;
    grid-row: 2 / 4;
    object-fit: cover;
    height: 100%;
  }

  .pictures img:nth-child(4) {
    grid-column: 1;
    grid-row: 3 / 5;
    object-fit: cover;
    height: 100%;
  }

  .pictures img:nth-child(5) {
    grid-column: 2;
    grid-row: 3;
  }

  .pictures img:nth-child(6) {
    grid-column: 2 / 4;
    grid-row: 4;
  }

  .footer__title {
    margin-block-start: 80px;
  }

  .footer.decorated-zone::after {
    inset-block-end: 10px;
    inset-inline-start: 10px;
  }

}

@media (width >= 1024px) {

  .header {
    grid-template: 1fr 2fr min-content / 1fr 1fr;
  }

  .header__theme-menu {
    grid-column: span 2;
    grid-row: 1;
    margin-inline-start: 20px;
    margin-block-start: 8px;
  }

  .header__theme-menu-list {
    margin-block-start: 0;
    flex-direction: row;
    justify-self: center;
  }

  .header__pseudo-element {
    inset-block-start: 8px;
  }

  .header__subtitle {
    margin-block-end: 145px;
  }

  .reasons-for-hard-concentration {
    column-gap: 10px;
  }

  .reasons-for-low-concentration {
    grid-template: repeat(2, min-content) / repeat(3, 1fr);
    row-gap: 0;
  }

  .reasons-for-low-concentration .article {
    grid-row: 2;
    grid-column: span 1;
    grid-template: min-content min-content / 1fr;
  }

  .reasons-for-low-concentration .article-subtitle {
    grid-column: span 1;
    grid-row: 2;
    margin-block-start: 10px;
  }

  .reasons-for-low-concentration .article-text {
    grid-column: span 1;
    grid-row: 3;
  }

  .advices-for-better-concentration {
    column-gap: 10px;
  }

  .footer.decorated-zone::before {
    inset-block-start: 20px;
  }

  .footer.decorated-zone::after {
    inset-inline-start: 10px;
    inset-block-end: 10px;
  }
}
