/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--page-background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: var(--page-background-color);
  padding: 10px;
  font-family: 'IBM Plex mono', monospace;
  position: relative;
  display: grid;
  grid-template: 1fr min-content 1fr 0fr 0fr / 1fr;
  gap: 40px;
  line-height: 1.3;
  font-weight: 400;
}

.header,
.footer {
  display: grid;
  position: relative;
  min-block-size: var(--header-min-height);
}

.header {
  grid-template: min-content 1fr min-content / 1fr 1fr;
}

.footer {
  grid-template: 1fr / 1fr;
}

.header__title {
  grid-area: 2 / 1 / 2 / 2;
}

.header__title,
.footer__title {
  justify-self: center;
  align-self: center;
}

.decorated-zone {
  max-block-size: var(--header-max-height);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: -2px;
  inline-size: 25px;
  block-size: 25px;
  background-image: url(../images/top-right-deco.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 9999;
  color: var(--page-decor-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inset-block-end: 10px;
  inset-inline-start: 0;
  inline-size: 25px;
  block-size: 25px;
  background-image: url(../images/bottom-left-deco.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 9999;
  display: inline-block;
  color: var(--page-decor-color);
}

.header.decorated-zone::after {
  inset-block-end: 0;
}

.footer.decorated-zone::before {
  inset-block-start: -10px;
}

.header__pseudo-element {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 22px;

  line-height: 1.39;
  color: var(--page-decor-color);
  text-transform: uppercase;
  pointer-events: none;
  z-index: 10;
}

.header__pseudo-element::after {
  content: '';
  position: absolute;
  inset-inline-start: 100%;
  inset-block-start: 50%;
  transform: translateY(-50%);
  inline-size: 18px;
  block-size: 18px;
  background-image: url(../images/ellipse.svg);
  background-size: contain;
}

.header__theme-menu {
  grid-area: 1 / 1 / 1 / 2;
}

.header__theme-menu-list {
  margin-block-start: 75px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-self: end;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--page-button-color);
  padding: 1.5px 13px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--page-button-color);
}

.footer__title > p,
.header__title > h1 {
  display: inline-block;
  font-weight: 700;
  font-size: var(--font-size-header);
  color: var(--page-text-main-color);
  text-align: left;
}

.footer__title > p {
  text-shadow: 2px 2px 0 var(--page-shadow-main-color);
  line-height: 0.83;
}

.header__title > h1 {
  text-shadow: 4px 4px 0 var(--page-shadow-main-color);
  line-height: 0.83;
}

.header__subtitle {
  background-color: var(--subtitle-bg-color);
  font-weight: 700;
  margin-block-end: 66px;
  font-size: 18px;
  grid-area: 3 / 1 / 3 / 2;
}

.main {
  padding-block-start: 40px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.article-reasons {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.article-title {
  font-weight: 700;
  color: var(--article-title-main-color);
  font-size: 18px;
}

.advices-for-better-concentration,
.reasons-for-low-concentration,
.reasons-for-hard-concentration {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.artiсle-advice {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  font-size: 18px;
}

.article-subtitle {
  font-weight: 700;
  color: var(--article-subtitle-main-color);
  background-color: var(--article-subtitle-bg-color);
  font-size: 18px;
}

.paragraph-title {
  color: var(--article-subtitle-main-color);
  background-color: var(--article-subtitle-bg-color);
  font-weight: 400;
}

.article-text {
  color: var(--article-main-text-color);
  font-size: 18px;
}

.pictures {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.pictures img {
  inline-size: 100%;
}

.text-link {
  text-shadow: 2px 2px 0 var(--page-shadow-main-color);
  text-decoration: none;
}

.text-link:hover {
  text-decoration: underline;
}

.text-link:focus {
  border: 1px solid var(--article-main-text-color);
  text-decoration: none;
}

@media (width >= 768px) {

  .page {
    padding-inline-end: 20px;
  }

  .header__theme-menu-list {
    margin-block-start: 192px;
  }

  .header__theme-menu {
    grid-area: 1 / 2 / 1 / 2;
  }

  .header__title {
    justify-self: start;
    grid-area: 2 / 1 / 2 / 3;
  }


    .header__subtitle {
    grid-area: 3 / 2 / 3 / 2;
    margin-block-end: 183px;
  }

  .reasons-for-hard-concentration {
    grid-template: 1fr 1fr / 1fr 2fr;
    column-gap: 20px;
    margin-inline-start: 10px;
  }

  .reasons-for-hard-concentration > .article-title {
    grid-row: 1 / span 2;
  }

  .reasons-for-low-concentration {
    grid-template: repeat(7, min-content) / repeat(3, 1fr);
    margin-inline-start: 10px;
  }

  .reasons-for-low-concentration > .article-title {
    grid-area: 1 / 1 / 1 / 1;
  }

  .reasons-for-low-concentration > .article-text,
  .reasons-for-low-concentration > .article-subtitle {
    grid-column: 1 / 4;
  }

  .advices-for-better-concentration {
    grid-template: min-content / 1fr 2fr;
    margin-inline-start: 10px;
  }

  .advices-for-better-concentration > .article-title {
    grid-area: 1 / 1 / 8 / 1;
  }

  .pictures {
    grid-template-columns: repeat(3, 1fr);
      grid-auto-flow: dense;
      gap: 20px;
  }

  .pictures > .article-subtitle {
    grid-column: 1 / 4;
  }

  .pictures img:nth-child(2) {
    grid-column: span 2;
    grid-row: 2;
  }

  .pictures img:nth-child(3) {
    grid-column: 3;
    grid-row: 2 / 4;
    object-fit: cover;
    height: 100%;
  }

  .pictures img:nth-child(4) {
    grid-column: 1;
    grid-row: 3 / 5;
    object-fit: cover;
    height: 100%;
  }

  .pictures img:nth-child(5) {
    grid-column: 2;
    grid-row: 3;
  }

  .pictures img:nth-child(6) {
    grid-column: 2 / 4;
    grid-row: 4;
  }
}

@media (width >= 1024px) {

}
