:root {
  --page-background-image: url(/images/cover-image-dark.png);
  --page-background-color: #00043a;
  --page-button-color: #ff0070;
  --page-decor-color: #ff0070;
  --subtitle-bg-color: #ff0070;
  --page-text-main-color: #db00ff;
  --page-shadow-main-color: #ff0070;
  --article-title-main-color: #ff0070;
  --article-subtitle-main-color: #000028;
  --article-subtitle-bg-color: #ff0070;
  --article-main-text-color: #f1b2ce;
  --header-min-height: calc(100vh - 20px);
  --header-max-height: calc(100vh - 20px);
  --font-size-header: clamp(7.25rem, calc(7.0115rem + 1.0178vw), 7.5rem);
}

:root.theme-dark {
  --page-background-image: url(/images/cover-image-dark.png);
  --page-background-color: #00043a;
  --page-button-color: #ff0070;
  --page-decor-color: #ff0070;
  --subtitle-bg-color: #ff0070;
  --page-text-main-color: #db00ff;
  --page-shadow-main-color: #ff0070;
  --article-title-main-color: #ff0070;
  --article-subtitle-main-color: #000028;
  --article-subtitle-bg-color: #ff0070;
  --article-main-text-color: #f1b2ce;
  --header-min-height: calc(100vh - 20px);
  --header-max-height: calc(100vh - 20px);
}

@media (prefers-color-scheme: dark) {

  :root.theme-light {
    --page-background-image: url(/images/cover-image-light.png);
    --page-background-color: #fff1f7;
    --page-button-color: #353430;
    --page-decor-color: #ff0070;
    --subtitle-bg-color: #ff8dcb;
    --page-text-main-color: #ffc2e6;
    --page-shadow-main-color: #ff8dcb;
    --article-title-main-color: #353430;
    --article-subtitle-main-color: #353430;
    --article-subtitle-bg-color: #ff0070;
    --article-main-text-color: #353430;
    --header-min-height: calc(100vh - 20px);
    --header-max-height: calc(100vh - 20px);
  }

  :root.theme-auto {
    --page-background-image: url(/images/cover-image-dark.png);
    --page-background-color: #00043a;
    --page-button-color: #ff0070;
    --page-decor-color: #ff0070;
    --subtitle-bg-color: #ff0070;
    --page-text-main-color: #db00ff;
    --page-shadow-main-color: #ff0070;
    --article-title-main-color: #ff0070;
    --article-subtitle-main-color: #000028;
    --article-subtitle-bg-color: #ff0070;
    --article-main-text-color: #f1b2ce;
    --header-min-height: calc(100vh - 20px);
    --header-max-height: calc(100vh - 20px);
  }

  .header__pseudo-element {
    visibility: visible;
  }
}

@media (prefers-color-scheme: light) {

  :root.theme-light,
  :root {
    --page-background-image: url(/images/cover-image-light.png);
    --page-background-color: #fff1f7;
    --page-button-color: #353430;
    --page-decor-color: #ff0070;
    --subtitle-bg-color: #ff8dcb;
    --page-text-main-color: #ffc2e6;
    --page-shadow-main-color: #ff8dcb;
    --article-title-main-color: #353430;
    --article-subtitle-main-color: #353430;
    --article-subtitle-bg-color: #ff0070;
    --article-main-text-color: #353430;
    --header-min-height: calc(100vh - 20px);
    --header-max-height: calc(100vh - 20px);
  }

  .header__pseudo-element {
    visibility: hidden;
  }
}

:root.theme-light .header__pseudo-element {
  visibility: hidden;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {

  :root {
    --font-size-header: clamp(7.5rem, calc(0.5625rem + 14.4531vw), 9.8125rem);
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
