:root {
  --page-background-image: url(/images/cover-image-dark.png);
  --page-background-color: #00043a;
  --page-button-color: #ff0070;
  --page-decor-color: #ff0070;
  --subtitle-bg-color: #ff0070;
  --page-text-main-color: #db00ff;
  --page-shadow-main-color: #ff0070;
  --article-title-main-color: #ff0070;
  --article-subtitle-main-color: #000028;
  --article-subtitle-bg-color: #ff0070;
  --article-main-text-color: #f1b2ce;
  --header-min-height: calc(100vh - 20px);
  --header-max-height: calc(100vh - 20px);
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
